<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- google font added -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- css file added -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- bootstrap added -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>django</title>
</head>
<body>
     <!-- <img src="{% static 'images/django.png' %}" alt="">  -->
    <header> 
      <br>
      <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-3 mx-3 mb-lg-0">
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="{% url 'webpage1'%}">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="{% url 'webpage2'%}">Breakfast</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="{% url 'webpage3'%}">Lunch</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="{% url 'webpage4'%}">Dinner</a>
                  </li>
                  <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="{% url 'webpage5'%}">Order</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#subs">Subscribe</a>
                  </li>

                </ul>
              </div>
            </div>
        </nav> 
        <br> <br>
        <h1 class="clr text"> Welcome To Food Network </h1>
        <!-- nav end -->
        <!-- second part started -->
        <div class="container py-5">
          <div class="row align-items-center">
            <div class="col-12 col-lg-6 col-md-6">
              <h1 class="clr"> <span class="color-orange"> Skip </span> The Diet, </h1>
            <h1 class="clr">Just Eat Healthy</h1>
            <h1 >With <span class="color-orange"> Food Network </span> </h1> <br>
              <p class="clr">
                We know, a healthy diet is essential for good health and nutrition. It protects you against many chronic noncommunicable diseases, such as heart disease, diabetes and cancer. Eating a variety of foods and consuming less salt, sugars and saturated and industrially-produced trans-fats, are essential for healthy diet. <br> <br>
                Imagine you don't need a diet because we provide healthy and delicious food for you!
              </p>
            </div>
            <!-- image part -->
            <div class="col-12 col-lg-6 col-md-6 mt-3">
              <img class="img-fluid" src="{% static 'images/pic1.png' %}" alt="">
            </div>
          </div>
        </div>
    </header>
    <br><br><br>

  <main>
    <!-- chief nutritionist  section -->
    <section >
      <div  class=" py-5  container nutritionist">
      <div class=" row align-items-center ">
        <!-- image division -->
        <div class="col-12 col-lg-6 col-md-6 ">
          <img class="img-fluid" src="{% static 'images/pic2.png' %}" alt="">
        </div>
        <br>
        <!-- others -->
          <div class="col-12 col-lg-6 col-md-6 mt-5">
            <h2> About Chief Nutritionist </h2> <br>
          <p class="size">
            Hi! I am <span class="blue"> Maliha Rashid, </span>  <br>
                I am accomplished Chef nutritionist with five years of comprehensive experience working in food service industry. Adept at strictly monitoring kitchen activities and meeting health code standards.
                Specialties in Italian and American cuisine. Strong organizational, leadership and management skills. Ready for new challenge creating tasty meals for successful establishment. 
            </p>
            <br>
          </div>
        </div>
      </div>
    </section>
     <br>
    <!-- head nutritionist  section end -->

    <!-- frequently asked question -->
    <b> <br><br>
    <h2 class="text my-2 black"> Frequently Asked <span>Questions</span> </h2> <hr>
    </b>
    <section class="py-5  container">
      <div class="row align-items-center">
        <!-- image -->
        <div class="col-12 col-lg-6 col-md-6 my-4 px-4">
          <img class="img-fluid" src="{% static 'images/faq.png' %}" alt="">
        </div>
        <!-- accordion part -->
       <div class="accordion col-12 col-lg-6 col-md-6 my-4 px-4" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
          Is healthy food available here?
          </button>
          </h2>
       <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
          <div class="accordion-body">
          <p>
            Yes, we provide healthy and also delicious food for you!
          </p>
        </div>
        </div>
        </div>
  <!-- 2 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              How Food Network Works?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
            <div class="accordion-body">
              <p>
              At first we take order from our customers and we receive payment from them.
              To order us, at first you have to fill up our customer form given our webpage.
              After that, our customer care team verify that order and confirmed it.
              Then our nutritionist suggest food by your health condition.
              Our chef cook food and pass food to deliver team.
              Our delivery team members deliver the food and our customer receive that food.
              You may also order from our food menu.
              </p>
            </div>
          </div>
        </div>
  <!-- 3 -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="panelsStayOpen-headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Who cooks the food?
            </button>
          </h2>
          <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
            <div class="accordion-body">
              <p>
                Our experienced chef cook food and our foods are tested by our nutritionist.
              </p>
            </div>
          </div>
        </div>

        </div>
      </div>
    </section>

    <!-- customer form -->
{% block content %}    
  <section class="cfrom" id="subs">
    <div class="mt-5 px-5 container justify-content-center align-items-center">
      <form action="" method="POST" class="form-group mr-auto ml-auto ">
        {% csrf_token %}
        <br><br>
        <h3 class="text-center"> Customer Subscription Form </h3> <hr> <br>
        <p>If you want to order from us at first you have to fill up this form. After that we will email you with in a short time and
           give a "customer id". Then you can order with your "customer id". Thank you! </p> <br>
        <input type="text" name="name" class="form-control" id="name" placeholder=" Enter your name" required> <br>
        <input type="number" name="age" class="form-control" id="age" placeholder=" Enter your age" required> <br>
        <input type="number" name="height" class="form-control" id="height" placeholder=" Enter your height in cm" required> <br>
        <input type="number" name="weight" class="form-control" id="weight" placeholder=" Enter your weight in kg" required> <br>
        <input type="email" name="email" class="form-control" id="email" placeholder=" Enter your email" required> <br>
        <input type="text" name="phone" class="form-control" id="phone" placeholder=" Enter your phone" required> <br>
        <!-- submit button -->
        <input type="submit"  class="btn btn-info form-control" value="Submit">
    </form>
    <br><br>
    </div>
  </section>
{% endblock %}
  </main>     
    <!-- footer -->
    <footer class="d-flex justify-content-center align-items-center p-3">
      <div>
          <h1 class="clr"> Food Network </h1> <br> 
          <p class="align-center color-orange"> Eat healthy to live healthy. Live healthy to live healthy. </p>
          <br> <br>
          
      </div>
    </footer>

    <!-- bootstrap js file added -->
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"> </script>
</body>
</html>